#root {
  max-width: 1280px;
  margin: 0 auto;
  --mobileMargin: 5.25rem;
  --mobileInlinePadding: 2rem;
  --mobileButton: .75rem 2rem;
}

*{
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.no-underline{
  text-decoration: none;
}

.logo{
  width:50px;
}
header{
  z-index: 1;
}

.navbar{
  display: flex;
  flex-direction: column;
  gap:40px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.938);
  position: absolute;
  top: 10vh;;
  right: 0;
  width: 100%;
  height:100vh;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  padding:2em;
  padding-top:2.5em;
  height:10vh;
}
.navbar.closed{
  height:100vh;
}
.link{
  color:white;
  text-decoration: none;
  color:black
}
.social-link{
  text-decoration: none;
  color:black
}
.mobile .link{
  text-decoration: none;
  color: white;
  font-size:20px;
  transition: 0.4s ease;
  padding-top:.5em;
  padding-bottom:.5em;
}
.navbar.opened {
  transform: translateX(0);
  min-height:100vh;
}
.mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: sticky;
  top:0;
  height:10vh;
  padding-inline: 1em;
}

.laptop{
  display: none;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: sticky;
  top:0;
  height:10vh;
  padding-inline: 1em;
}

.laptop nav{
  display: flex;
  flex-direction: row;
  gap:3rem;
  font-size:18px;
}

.hamburger-menu{
  width:35px;
  height:auto;
  cursor: pointer;
}

.hamburger-menu-container{
  display: block;
  height:auto;
}

.menu-btn {
  cursor: pointer;
  transition: all 0.5s ease-out;
}

/* Styling the hamburger lines */
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
transform: rotate(180deg);
}

/* Styling the three lines to make it an X */
.menu-btn.close .btn-line:nth-child(1) {
transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
transform: rotate(-45deg) translate(7px, -6px);
}

.button-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
  width:100%;
}
.desc{
  line-height: 1.5rem;
}

.button-wrapper{
  width: 100%;
  display: block;
}

.button {
  color:black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.button2 {
  color:black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button:after {
  content: "";
  background-color: rgb(255 70 84);
  width: 100%;
  z-index: -1;
  color:black;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.button2:after {
  content: "";
  background-color: rgb(0, 185, 171);
  width: 100%;
  color:black;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover:after {
  top: 0px;
  left: 0px;
}
.button2:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button {
    padding: 13px 50px 13px;
  }
  .button2 {
    padding: 13px 50px 13px;
  }
}

.center{
  text-align: center;
}

.hero-section{
  padding:40px;
}
.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.hero-img{
  width:250px;
  height: auto;
}
.hero-title{
  font-size:2.25rem;
}
.hero-icons{
  display: flex;
  flex-direction: row;
  gap:.75rem;
}

.technologies-section{
  margin: var(--mobileMargin) 0px;
  padding:4rem var(--mobileInlinePadding);
  background-color: rgb(30 29 32);
}
.technologies-title{color:white;}
.technology-category-title{color:white;}
.technology-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.technologies{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.technology-category{
  display: flex;
  flex-direction: column;
  gap:.75rem;
}
.technology-category-items{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:.5rem;
}
.technology{
  background-color: white;
  border-radius: 5px;
  padding:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:.5rem;
}
.technology-icon{
  width:1.5rem;
}

.projects-section{
  margin: var(--mobileMargin) 0px;
  padding: 0px var(--mobileInlinePadding);
}
.projects-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.services-section{
  margin: var(--mobileMargin) 0px;
  padding: 0px var(--mobileInlinePadding)
}
.special{
  font-weight: bold;
}
.services-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-img{
  width:250px;
  height: auto;
}

.services-img-laptop{
  width: 45%;
  height:auto;
  display: none;
}
.services-bottom{
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin-top:1rem;
}
.services-desc{
  text-align: center;
}

.contact-section{
  padding: 3rem var(--mobileInlinePadding);
  background-color: rgb(233 17 50);
  background-color: rgb(255 70 84);
}
.contact-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
  color: white;
}
.contact-btn{
  color:white;
  background-color: transparent;
  border:none;
  outline:1px solid white;
}
.footer-section{
  background-color: rgb(30 29 32);
  padding: 3rem 0;
}

.footer-section{
  background-color: rgb(30 29 32);
  padding: 3rem 0;
}
.footer-wrapper{
  color: white;
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item3 item3";
  gap: 3rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.footer-wrapper > .one {
  grid-area: item1;
}

.footer-wrapper > .two {
  grid-area: item2;
}

.footer-wrapper > .three {
  grid-area: item3;
}

.footer-category{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.footer-title{
  font-weight: bold;
}
.footer-item{
  display: flex;
  align-items: center;
  gap:.5rem;
}
.footer-category-items{
  display: flex;
  flex-direction: column;
  gap:.75rem;
}

.pp-section{

}

.ph-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
}
.ph-section{
  padding: 40px 40px 0px 40px;
}

.projectsp-section{
  margin: var(--mobileMargin) 0px;
  padding: 0px var(--mobileInlinePadding)
}
.projectsp-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.projectsp-top{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.project{
  display: flex;
  flex-direction: column;
  gap:.5rem;
  width:260px;
}
.projectp-img{
  width:auto;
}

.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:2rem;
}
.read-more{
  color:rgb(255 70 84);
  font-weight: bold;
}
.contact-email{
  color:rgb(255 70 84);
  font-weight: bold;
}
.contact-email:hover{
  text-decoration: underline;
}

.input{
  width:100%;
  border-radius: 5px;
  border: 1px lightgray solid;
  padding:12px;
  font-size: 16px;
}
.textarea{
  width: 100%;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding:12px;
  font-size: 14px;
  min-height:8rem;
}

.form-inputs{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.project-container{

}
.project-wrapper{
  padding-inline:var(--mobileInlinePadding);
  margin-bottom:var(--mobileMargin);
  display: flex;
  flex-direction: column;
  gap:1.5rem;
}
.project-img{
  width:100%;
}

.project-desc{
  line-height: 1.5rem;
}
.project-text{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.about-section{
  padding-inline: var(--mobileInlinePadding);
  margin: 4rem 0px;
  line-height: 1.5rem;
}

#next{
  scroll-margin-top:6rem;
}
.footer-img{
  filter: brightness(0) invert(1);
}
.services-section{
  
}

.expertise-card{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1rem;
  border-radius: 1rem;
  padding:20px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1)
}
.expertise-container{
  display: flex;
  flex-direction: column;
  gap:1rem;
  margin-bottom: var(--mobileMargin);
}
.expertise-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.gray{
  color:rgb(86, 84, 84)
}
.card{
  padding-inline:1rem;
  font-size:15px;
}
#webdesign-svg{
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 175px;
    height:175px;
    background-image: url("/TechnologyIcons/webdesign.svg");
}

#webdev-svg{
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 175px;
    height:175px;
    background-image: url("/TechnologyIcons/webdev.svg");
}

#graphicdesign-svg{
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 175px;
    height:175px;
    background-image: url("/TechnologyIcons/graphicdesign.svg");
}

#whyme-svg{
  background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:175px;
    background-image: url("/TechnologyIcons/whyme.svg");
}
.whyme-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.emphasis{
  color:#d80909;
  font-weight:bold;
}

.larger{
  font-size:18px;
}

@media (width > 780px) {
  .navbar {
    display: flex;
    flex-direction: row;
    background: none;
    transform: translateY(0);
  }

  .mobile{
    display: flex;
    flex-direction: row;
    display: none;
  }

  .navbar .link {
    padding: 0 15px;
    color: black;
  }

  .menu-btn {
    display: none;
  }
  .laptop{
    display: flex;
    justify-content: space-between;

  }
  .hero-wrapper{
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:4rem;
  }
  .hero-content{
    align-items: start;
    text-align: start;
    max-width: 500px;
    gap:2rem;
  }
  .hero-title{
    font-size:3.5vw;
  }
  .hero-img{
    width: 45%;
  }
  .hero-content .center{
    text-align: start;
    font-size:20px;
  }
  .services-img{
    display: none;
  }
  .services-img-laptop{
    display: flex;
  }
  .services-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap:4rem;
  }
  .title.center{
    font-size:2.5vw;
  }
  .desc{
    line-height: 2rem;
  }
}

.swiper {
  width: 100%;
  height: auto;
  border-radius: 9px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1)
}

.swiper-slide{
  background:white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.swiper-button-prev
.swiper-button-next{
  background-color: black;
}

.swiper-img{
  width: 100%;
  position: absolute;
  top:0;
}

.carousel-wrapper{
  position: relative;
}

#right-chev{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 175px;
  height:175px;
  background-image: url("/images/chevron-right.svg");
  position: absolute;
  right:0;
}

#left-chev{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height:50px;
  background-image: url("/images/chevron-left.svg");
  position: absolute;
  left:0;
}

.carousel{
  display:none;
}
